<div class="col-12 d-flex pl-0 pr-0 borderclass">
    <div class="col-lg-8 col-sm-6">
    <h5 class="mb-0">Rent Aggrement</h5>
    <h6 class="mb-0 emailclass">From: Carl Miller (carlm@gmail.com)</h6>
    <h6 class="mb-0 timeclass">9/14/2020 : 10¥00 AM | 3 Participants</h6>
    </div>
    <div class="col-lg-2 mt-3">
        <button class="openbtn">Open</button>
    </div>
    <div class="col-lg-2 mt-3">
        <button class="hidebtn">Hide Info</button>
    </div>
</div>
<div class="col-12 d-flex row container pr-0 mr-0 ml-0 pl-0">
    <div class="column col-lg-9 col-md-8 formclass">
        <img class="imgclass" src="../../assets/form.png">
    </div>
    <div class="column col-lg-3 col-md-4 divborder pr-0 pl-0">
        <div class=""> 
            <div class="divborderrent">
                <ul style="list-style-type:none;" class="pl-0">
                    <li class="d-flex justify-content-center pb-3 pt-2">Document Info</li>
                    <li class="pl-4 rentclass">Rent Agreement</li>
                    <li class="pl-4 pdfclass">RentAgreement.PDF | 5 Pages</li>
                    
                  </ul> 
            </div>
            <ul style="list-style-type:none;">
                <li class="font-weight-bold mt-4">Status</li>
                <li class="timeclass">Pending</li>
              </ul> 
              <ul style="list-style-type:none;">
                <li class="font-weight-bold">Last Modified</li>
                <li class="timeclass">9/10/2020 : 10¥00 AM</li>
              </ul> 
              <ul style="list-style-type:none;">
                <li class="font-weight-bold">Created On</li>
                <li class="timeclass">9/9/2020 : 10¥00 AM</li>
              </ul> 
              <ul style="list-style-type:none;">
                <li class="font-weight-bold">Created By</li>
                <li class="timeclass">9/9/2020 : 10¥00 AM</li>
              </ul> 
              <ul style="list-style-type:none;">
                <li class="font-weight-bold">Expiry Date</li>
                <li class="timeclass">9/9/2020 : 10¥00 AM</li>
              </ul> 
           
        </div>
        <div>
            <div class="divborderrent">
                <ul style="list-style-type:none;" class="pl-0">
                    <li class="d-flex justify-content-center pb-3 pt-2">Audit Trail</li>
                    <li class="pl-4 pdfclass">Chronological Order</li>
                    
                  </ul> 
            </div>
            <ul style="list-style-type:none;">
                <li class="font-weight-bold mt-4">Document imported</li>
                <li class="timeclass">9/10/2020 : 10¥00 AM</li>
              </ul> 
              <ul style="list-style-type:none;">
                <li class="font-weight-bold">Modified</li>
                <li class="timeclass">9/10/2020 : 10¥00 AM</li>
              </ul> 
              <ul style="list-style-type:none;">
                <li class="font-weight-bold">Sign request created</li>
                <li class="timeclass">9/9/2020 : 10¥00 AM</li>
              </ul> 
              <ul style="list-style-type:none;">
                <li class="font-weight-bold">Email sent</li>
                <li class="timeclass">9/9/2020 : 10¥00 AM</li>
              </ul> 
              <ul style="list-style-type:none;">
                <li class="font-weight-bold">Signed</li>
                <li class="timeclass">9/9/2020 : 10¥00 AM</li>
              </ul> 
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="column col-lg-9 col-md-8" style="background-color:#aaa;">
        <img class="imgclass" src="../../assets/form.png">
    </div>
    <div class="column col-lg-3 col-md-4" style="background-color:#bbb;">
        <div>
            <h5>Rent Aggrement</h5>
            <li>Status</li>
            <li>Pending</li>
            <li>Last Modified</li>
            <li>9/10/2020 : 10¥00 AM</li>
            <li>Created On</li>
            <li>9/9/2020 : 10¥00 AM</li>
            <li>Created By</li>
            <li>9/9/2020 : 10¥00 AM</li>
            <li>Expiry Date</li>
            <li>9/9/2020 : 10¥00 AM</li>
        </div>
        <div>
            <h5>Rent Aggrement</h5>
            <li>Status</li>
            <li>Pending</li>
            <li>Last Modified</li>
            <li>9/10/2020 : 10¥00 AM</li>
            <li>Created On</li>
            <li>9/9/2020 : 10¥00 AM</li>
            <li>Created By</li>
            <li>9/9/2020 : 10¥00 AM</li>
            <li>Expiry Date</li>
            <li>9/9/2020 : 10¥00 AM</li>
        </div>
    </div>
  </div> -->