<div class="d-flex" id="wrapper">
  <div class="bg-light" id="sidebar-wrapper">
    <div class="sidebar-heading"> </div>
    <div class="list-group list-group-flush">
      <div class="borderimport d-flex mb-0 pl-0 borderimportclass">
        <div class="col-9">
          <button class="openbtn">Import</button>
        </div>
        <div class="col-3">
          <i class="fa fa-home fa-2x col-4"></i>
        </div>

      </div>
      <div class="borderimport d-flex mt-0 pl-0 mb-0">
        <div class="col-10">
          <input placeholder="Search Contact, Document or Date" class="inputbox">
        </div>
        <div class="col-2">
          <i class="fa fa-filter fa-2x"></i>
        </div>

      </div>

      <a class="borderrecent borderclass">Recent</a>
      <a routerLink="/home" class="d-flex list-group-item list-group-item-action bg-light pl-0 pt-0 borderclass">
        <div class="square"></div>
        <div class="col-6 pr-0 pl-0">
          <div class="ndaclass mt-2">NDA</div>
          <small class="pl-2 headingclass">Erica Smith</small>
        </div>
        <div class="mt-2 timeclass">
          <small>10 PM</small>
        </div>
      </a>
      <a routerLink="/rentagree" class="d-flex list-group-item list-group-item-action bg-light pl-0 pt-0 borderclass">
        <div class="square1"></div>
        <div class="col-6 pr-0 pl-0">
          <div class="ndaclass mt-2">Rent Agreement</div>
          <small class="pl-2 headingclass">Carl Miller, Jim Poe</small>
        </div>
        <div class="mt-2 timeclass">
          <small>10 PM</small>
        </div>
      </a>
      <a routerLink="/rent" class="d-flex list-group-item list-group-item-action bg-light pl-0 pt-0 borderclass">
        <div class="square2"></div>
        <div class="col-6 pr-0 pl-0">
          <div class="ndaclass mt-2">Car Lease</div>
          <small class="pl-2 headingclass">Jasson Harrison</small>
        </div>
        <div class="mt-2 timeclass">
          <small>10 PM</small>
        </div>
      </a>
      <a class="borderrecent pt-2 borderclass">All</a>
      <a class="d-flex list-group-item list-group-item-action bg-light pl-0 pt-0 borderclass">
        <div class="square"></div>
        <div class="col-6 pr-0 pl-0">
          <div routerLink="/rent" class="ndaclass mt-2">NDA</div>
          <small class="pl-2 headingclass">Erica Smith</small>
        </div>
        <div class="mt-2 timeclass">
          <small>10 PM</small>
        </div>
      </a>
      <a class="d-flex list-group-item list-group-item-action bg-light pl-0 pt-0 borderclass">
        <div class="square1"></div>
        <div class="col-6 pr-0 pl-0">
          <div routerLink="/home" class="ndaclass mt-2">Rent Agreement</div>
          <small class="pl-2 headingclass">Carl Miller, Jim Poe</small>
        </div>
        <div class="mt-2 timeclass">
          <small>10 PM</small>
        </div>
      </a>
      <a class="d-flex list-group-item list-group-item-action bg-light pl-0 pt-0 borderclass">
        <div class="square2"></div>
        <div class="col-6 pr-0 pl-0">
          <div routerLink="/rentagree" class="ndaclass mt-2">Car Lease</div>
          <small class="pl-2 headingclass">Jasson Harrison</small>
        </div>
        <div class="mt-2 timeclass">
          <small>10 PM</small>
        </div>
      </a>
      <a class="d-flex list-group-item list-group-item-action bg-light pl-0 pt-0 borderclass menuclass">
        <div class="square"></div>
        <div class="col-6 pr-0 pl-0">
          <div class="ndaclass mt-2">New Account</div>
          <!-- <small class="pl-2 headingclass">Jasson Harrison</small> -->
        </div>
        <div class="mt-2 timeclass">
          <small>10 PM</small>
        </div>
      </a>
      <!-- <a href="#" class="list-group-item list-group-item-action bg-light">New Account</a> -->
    </div>
  </div>

  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light menuclass">
      <button class="btn btn-default navbar-toggler-icon" id="menu-toggle"></button>

      <a class="nav-link disabled">LOGO</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item mt-2 mr-3">
            <i class="fa fa-bell fa-2x"></i>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user-circle-o fa-2x"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-default"
              aria-labelledby="navbarDropdownMenuLink-333">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid pr-0 pl-0">

      <router-outlet></router-outlet>

    </div>
  </div>
</div>