<div class="col-12 d-flex pl-0 pr-0 borderclass pb-2">
  <div class="col-lg-8 col-sm-6">
  <h5 class="mb-2 mt-2">Import a Document</h5>
  <h6 class="mb-0 timeclass">9/14/2020 : 10¥00 AM</h6>
  </div>
</div>
<div class="divbackground container">
  <!-- <div class="payoutLayout">
<p class="font-weight-bold pb-5">Drop File Here</p>
<p class="pt-3 pb-5">Or</p>
<button class="openbtn">Import</button>
</div> -->
<div class="column col-lg-9 col-md-8 formclass">
  <!-- <img class="imgclass" src="../../assets/form.png"> -->
  <div class="payoutLayout">
    <p class="font-weight-bold pb-5">Drop File Here</p>
    <p class="pt-3 pb-5">Or</p>
    <button class="openbtn">Import</button>
    </div> 
</div>
</div>